* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

:root {
	--just-black: #000;
	--just-white: #fff;
	--dark-gray: #757575;
	--medium-gray: #a1a1aa;
	--soft-gray: #f1f1f1;
	--main-gray: #212121;
	--code-wrapper: var(--main-gray);
	--small-font-size: 0.85em;
	--regular-font-size: 1.12em;
	--medium-font-size: 1.16em;
	--large-font-size: 2em;
	--small-spacing: 1.25rem;
	--regular-spacing: 1.75rem;
	--large-spacing: 4rem;
}

html {
	font-family: system-ui, sans-serif;
	background-color: var(--just-black);
}
