---
import CVLink from "../CVLink.astro";
import SocialMediaLinks from "../SocialMediaLinks.astro";
---

<section id="about" class="about">
	<h1 class="about__developer-name">Gustavo</h1>
	<p class="about__developer-career">Software Engineer</p>

	<section class="about__container">
		<p class="about__description">
			Software Engineer (Back End strong) with a passion for developing
			the complete flow of web applications. Strong React and Node.js skills,
			in addition to an affinity with Model-View-Controller (MVC),
			Model-View-Template (MVT), and Service Oriented Architecture (SOA)
			architectures in Back End.
		</p>

		<CVLink />

		<SocialMediaLinks size="lg" />
	</section>
</section>

<style>
	.about {
		padding: var(--medium-spacing) 0;
		padding-top: 9.5rem;
		display: flex;
		gap: var(--regular-spacing);
		flex-direction: column;
		align-items: center;
	}

	.about__developer-name {
		font-size: 2.85em;
		text-align: center;
		color: var(--just-white);
	}

	.about__developer-career {
		font-size: 1.75rem;
		text-align: center;
		color: var(--just-white);

		display: block;
		font-family: monospace;
		white-space: nowrap;
		border-right: 4px solid;
		width: 17ch;

		animation: typing 4s steps(17), blink 0.5s infinite step-end alternate;
		overflow: hidden;
	}

	@keyframes typing {
		from {
			width: 0;
		}
	}

	@keyframes blink {
		50% {
			border-color: transparent;
		}
	}

	.about__container {
		display: flex;
		gap: var(--regular-spacing);
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	.about__description {
		padding: 0rem var(--regular-spacing);
		font-size: var(--regular-font-size);
		text-align: justify;
		color: var(--just-white);
	}

	@media screen and (min-width: 1024px) {
		.about__description {
			padding: 0rem 7.5rem;
		}
	}
</style>
