---
import { getCollection } from "astro:content";

import ProjectCard from "../ProjectCard.astro";

const projects = await getCollection("projects");
---

<section id="projects" class="projects">
	<h3 class="projects__title">These are some of my projects</h3>
	<section class="projects__grid">
		{
			projects.map((project) => <ProjectCard banner={project.data.banner} title={project.data.title} link={`/projects/${project.slug}`}/>)
		}
	</section>
</section>

<style>
	.projects {
		padding-bottom: var(--large-spacing);
	}

	.projects__title {
		max-width: 640px;
		margin-left: auto;
		margin-right: auto;
		margin-bottom: var(--regular-spacing);
		padding: var(--regular-spacing);
		border-bottom: 1px solid var(--just-white);
		font-size: var(--large-font-size);
		text-align: center;
		color: var(--just-white);
	}

	.projects__grid {
		display: grid;
		gap: var(--regular-spacing);
		grid-template-columns: repeat(1, 1fr);
	}

	@media screen and (min-width: 680px) {
		.projects__grid {
			grid-template-columns: repeat(2, 1fr);
		}
	}

	@media screen and (min-width: 1024px) {
		.projects__grid {
			grid-template-columns: repeat(3, 1fr);
		}
	}
</style>
