<a
	href="/pdfs/CV.pdf"
	target="_blank"
	class="cv-link"
>
	Have a look into my CV
</a>

<style>
	.cv-link {
		width: max-content;
		border-radius: 4px;
		padding: 0.75rem 1.2rem;
		background-color: var(--main-gray);
		text-decoration: none;
		color: var(--just-white);
		font-size: var(--regular-font-size);
		font-weight: bold;
		transition: background 0.3s ease-out;
	}

	.cv-link:hover {
		background-color: var(--medium-gray);
		color: var(--just-black);
	}
</style>
