<header class="hero">
	<h1 class="hero__developer-name">Gustavo</h1>
	<p class="hero__developer-career">Software Engineer</p>
</header>

<style>
	.hero {
		margin-top: 1.8rem;
		padding-top: 2rem;
		padding-bottom: 2rem;
		display: flex;
		gap: 1.2rem;
		flex-direction: column;
		align-items: center;
	}

	.hero__developer-name {
		font-size: 2.85em;
		text-align: center;
		color: var(--just-white);
	}

	.hero__developer-career {
		font-size: 1.75rem;
		text-align: center;
		color: var(--just-white);

		display: block;
		font-family: monospace;
		white-space: nowrap;
		border-right: 4px solid;
		width: 20ch;

		animation: typing 4s steps(20), blink 0.5s infinite step-end alternate;
		overflow: hidden;
	}

	@keyframes typing {
		from {
			width: 0;
		}
	}

	@keyframes blink {
		50% {
			border-color: transparent;
		}
	}
</style>
