---
export interface Props {
	link: string;
	type: "linkedin" | "github" | "twitter" | "youtube"
}

const { link, type } = Astro.props;
---

<a href={link} target="_blank">
	<i class={`icon icon--lg icon--white fa-brands fa-${type}`}></i>
</a>
