---
export interface Props {
	link: string;
	type: "linkedin" | "github" | "twitter" | "youtube"
	size: "lg" | "md"
}

const { link, type, size } = Astro.props;
---

<a href={link} target="_blank">
	<i class={`icon icon--${size} icon--white fa-brands fa-${type}`}></i>
</a>
