---
import IconWrapper from "./IconWrapper.astro";

export interface Props {
	link: string;
	type: "linkedin" | "github" | "twitter" | "youtube"
	size: "lg" | "md"
}

const { link, type, size } = Astro.props;
---

<a href={link} target="_blank">
	<IconWrapper
		icon={`fa-brands fa-${type}`}
		color={"white"}
		size={size}
	/>
</a>
