---
import { CollectionEntry, getCollection } from "astro:content";
import Layout from "../../layouts/Layout.astro";

export async function getStaticPaths() {
	const projects = await getCollection("projects");

	return projects.map((project) => ({
		params: { slug: project.slug },
		props: project
	}));
}

// eslint-disable-next-line
type Props = CollectionEntry<"projects">;

const project = Astro.props;
---

<Layout
	title={project.data.title}
	description={project.data.description}
>
	<main>
		<a href="/">Go back</a>
		<section>
			<h1>{project.data.title}</h1>
			<pre>{JSON.stringify(project.data, null, 2)}</pre>
		</section>
	</main>
</Layout>
