---
import "../styles/global.css";
---

<!DOCTYPE html>
<html lang="en">
	<slot name="head" />
	<body class="background">
		<slot />
	</body>
</html>

<style>
	.background {
		min-height: 100vh;
		display: flex;
		justify-content: center;
		align-items: center;
		color: var(--just-white);
	}
</style>
