---
import MainHead from "../components/MainHead.astro";

export interface Props {
	title: string;
}
---

<!DOCTYPE html>
<html lang="en">
	<MainHead
		title="Gustavo"
		description="Gustavo Ordoño Poma [gopoma] | Software Engineer | Back End Developer"
	/>
	<body>
		<slot />
	</body>
</html>

<style is:global>
	:root {
		--just-black: #000;
		--just-white: #FFF;
		--dark-gray: #757575;
		--medium-gray: #A1A1AA;
		--soft-gray: #F1F1F1;
		--main-gray: #212121;
		--code-wrapper: var(--main-gray);
		--small-font-size: 0.75em;
		--regular-font-size: 1.08em;
		--medium-font-size: 1.16em;
		--large-font-size: 2em;
	}

	html {
		font-family: system-ui, sans-serif;
		background-color: #F6F6F6;
	}
</style>
