---
import MainHead from "../components/MainHead.astro";
import Navbar from "../components/Navbar.astro";
import Wrapper from "../components/Wrapper.astro";

import "../styles/global.css";

export interface Props {
	title: string;
}
---

<!DOCTYPE html>
<html lang="en">
	<MainHead
		title="Gustavo"
		description="Gustavo Ordoño Poma [gopoma] | Software Engineer | Back End Developer"
	/>
	<body>
		<Navbar />

		<Wrapper>
			<slot />
		</Wrapper>
	</body>
</html>
