---
import Wrapper from "../components/Wrapper.astro";
import Footer from "../components/sections/Footer.astro";

import "../styles/global.css";
---

<!DOCTYPE html>
<html lang="en">
	<slot name="head" />
	<body>
		<Wrapper>
			<section class="divider">
				<slot />
				<Footer />
			</section>
		</Wrapper>
	</body>
</html>

<style>
	.divider {
		min-height: 100vh;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
	}
</style>
